:root {
  --dark-color: #19283f;
  --green-color: #00c6bf;
}

body {
  font-family: "Roboto", sans-serif;
  height: 10000px;
}

/* start navbar */

.navbar {
  background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
  font-size: 15px;
  color: #a8b9c0;
  font-weight: 400;
  font-family: "Roboto";
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}

.navbar .search {
  border-left: 1px solid var(--green-color);
  border-left: 1px solid var(--green-color);
}
.navbar .search i {
  color: var(--green-color);
}
.navbar .navbar-toggler {
  color: #a8b9c0;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}

/* start Landing */
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}
.landing h1 {
  font-size: 51px;
  color: #f0f8fb;
  font-weight: 300;
}
.landing p {
  font-size: 15px;
  color: #a8b9c0;
  font-weight: 400;
}
.landing .main-btn {
  width: 190px;
  height: 45px;
  border-radius: 20px;
  background-color: #ff3150;
  font-size: 15px;
  color: #ffc501;
  font-weight: 500;
}

/* end Landing */
